.info {
  width: calc((100% - 4rem) / 4);
  height: 12rem;
}

.info-icon {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.info-icon img {
  width: 100%;
  height: 100%;
}
