.bottomDiv {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
    margin-left: 40px;
}

.card {
    /* margin: 20px 10px; */
    /* height: 100px;
    width: auto; */

    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px
}