.cardImage {
    width: 100px;
    height: auto
}

.cardPara {
    font-size: 20px;
    font-weight: 20;
    color: rgb(38, 43, 47);

    margin-right: 60px;
}

.cardHeading {
    font-size: 30px;
    font-weight: 90;
    color: rgb(38, 43, 47);
}